# install
pre-commit
pyspark
delta-spark
pytest
ipykernel
pyarrow
DBUtils
pandas
ephem
Cython
hypothesis
numpy
convertdate
lunarcalendar
holidays==0.24
tqdm
python-dateutil
matplotlib
cmdstanpy
pymeeus
korean-lunar-calendar
hijri-converter
pytz
fonttools
packaging
pyparsing
cycler
pillow
kiwisolver
six
kaggle
cmake
wheel
setuptools